/* SPDX-License-Identifier: MIT */

/***********************************************************************
*                                                                      *
*  This file is part of collection of scripts and files used to create *
*  the website for Chindraba.                                          *
*                                                                      *
*  Copyright © 2020 - 2021  Chindraba (Ronald Lamoreaux)               *
*                    <website@chindraba.work>                          *
*  - All Rights Reserved                                               *
*                                                                      *
*  Permission is hereby granted, free of charge, to any person         *
*  obtaining a copy of this software and associated documentation      *
*  files (the "Software"), to deal in the Software without             *
*  restriction, including without limitation the rights to use, copy,  *
*  modify, merge, publish, distribute, sublicense, and/or sell copies  *
*  of the Software, and to permit persons to whom the Software is      *
*  furnished to do so, subject to the following conditions:            *
*                                                                      *
*  The above copyright notice and this permission notice shall be      *
*  included in all copies or substantial portions of the Software.     *
*                                                                      *
*  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,     *
*  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF  *
*  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND               *
*  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS *
*  BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN  *
*  ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN   *
*  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE    *
*  SOFTWARE.                                                           *
*                                                                      *
************************************************************************/

/* Celtica          The most likely candidate for content specials  */
/* Futhark           A possibility for some off-beat articles, at some point    */
/* Bramham (runes)   A second possibility for some off-beat articles, at some point   */
/* FuturaRenner      Possible body accent text techno-flavored     */
/* GenBold/GenLight  Possible body main text    */
/* PreCursive        Possible blockqoute fonts   */
/* EffectsEighty     Looks like what I want for "code block" text */


/* Load the extra fonts likely needed for content and controls  */
/*   The source of the icons I'm using for menus and settings   */
@font-face {
  font-family: 'SymbolaRegular';
    src: url('../assets/fonts/symbola/SymbolaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
  font-family:"Symbola";
    src:url("../assets/fonts/symbola/Symbola_hint.eot?") format("eot"),
        url("../assets/fonts/symbola/Symbola_hint.woff") format("woff"),
        url("../assets/fonts/symbola/Symbola_hint.ttf") format("truetype"),
        url("../assets/fonts/symbola/Symbola_hint.svg#Symbola") format("svg");
  font-weight:normal;
  font-style:normal;
}
*/

/* Celtica   */
/*      The most likely candidate for content specials  */
/*
@font-face {
  font-family: 'CelticaBold';
    src: url('../assets/fonts/celtica/CelticaBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
*/
/*
@font-face {
  font-family: 'CelticaBoldOblique';
    src: url('../assets/fonts/celtica/CelticaBoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
*/
@font-face {
  font-family: 'CelticaBook';
    src: url('../assets/fonts/celtica/CelticaBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CelticaBookOblique';
    src: url('../assets/fonts/celtica/CelticaBookOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Futhark   */
/*      A possibility for some off-beat articles, at some point    */
/*
@font-face {
  font-family: 'FutharkAdaptedRegular';
    src: url('../assets/fonts/futhark-adapted/FutharkAdaptedRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

/* Bramham   (runes) */
/*      A second possibility for some off-beat articles, at some point   */
/*
@font-face {
  font-family: 'BramhamSerifMedium';
    src: url('../assets/fonts/BramhamSerifMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
*/

/* FuturaRenner    */
/*      Possible body accent text techno-flavored     */
/*
@font-face {
  font-family: 'FuturaRennerLight';
    src: url('../assets/fonts/futura-renner/FuturaRennerLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: 'FuturaRennerRegular';
    src: url('../assets/fonts/futura-renner/FuturaRennerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* GenBold/GenLight     */
/*      Possible body main text    */
/*
@font-face {
  font-family: 'GenBold';
    src: url('../assets/fonts/gen-light/GenBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
*/
@font-face {
  font-family: 'GenLight';
    src: url('../assets/fonts/gen-light/GenLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GenRegular';
    src: url('../assets/fonts/gen-light/GenRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
  font-family: 'GenW01Light';
    src: url('../assets/fonts/gen-light/GenW01Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
*/
/*
@font-face {
  font-family: 'GenW01Regular';
    src: url('../assets/fonts/gen-light/GenW01Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

/* PreCursive    */
/*      Possible blockqoute fonts   */
/*
@font-face {
  font-family: 'PreCursiveBoldOFLRegular';
    src: url('../assets/fonts/precursive/PreCursiveBoldOFLRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
/*
@font-face {
  font-family: 'PreCursiveItalicOFLRegular';
    src: url('../assets/fonts/precursive/PreCursiveItalicOFLRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
/*
@font-face {
  font-family: 'PreCursiveLinedOFLRegular';
    src: url('../assets/fonts/precursive/PreCursiveLinedOFLRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
/*
@font-face {
  font-family: 'PreCursiveOFLBold';
    src: url('../assets/fonts/precursive/PreCursiveOFLBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
/*
@font-face {
  font-family: 'PreCursiveOFLItalic';
    src: url('../assets/fonts/precursive/PreCursiveOFLItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
/*
@font-face {
  font-family: 'PreCursiveOFLLined';
    src: url('../assets/fonts/precursive/PreCursiveOFLLined.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
/*
@font-face {
  font-family: 'PreCursiveOFLRegular';
    src: url('../assets/fonts/precursive/PreCursiveOFLRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: 'PreCursiveRegular';
    src: url('../assets/fonts/precursive/PreCursiveRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Effects Eighty';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/effectseighty/EffectsEighty.woff') format('woff'), url('../assets/fonts/effectseighty/EffectsEighty.woff2') format('woff2');
}
@font-face {
    font-family: 'Effects Eighty';
    font-weight: bold;
    font-style: normal;
    src: url('../assets/fonts/effectseighty/EffectsEightyBold.woff') format('woff'), url('../assets/fonts/effectseighty/EffectsEightyBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Effects Eighty';
    font-weight: normal;
    font-style: italic;
    src: url('../assets/fonts/effectseighty/EffectsEightyItalic.woff') format('woff'), url('../assets/fonts/effectseighty/EffectsEightyItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Effects Eighty';
    font-weight: bold;
    font-style: italic;
    src: url('../assets/fonts/effectseighty/EffectsEightyBoldItalic.woff') format('woff'), url('../assets/fonts/effectseighty/EffectsEightyBoldItalic.woff2') format('woff2');
}

