/* SPDX-License-Identifier: MIT */

/***********************************************************************
*                                                                      *
*  This file is part of collection of scripts and files used to create *
*  the website for Chindraba.                                          *
*                                                                      *
*  Copyright © 2020 - 2021  Chindraba (Ronald Lamoreaux)               *
*                    <website@chindraba.work>                          *
*  - All Rights Reserved                                               *
*                                                                      *
*  Permission is hereby granted, free of charge, to any person         *
*  obtaining a copy of this software and associated documentation      *
*  files (the "Software"), to deal in the Software without             *
*  restriction, including without limitation the rights to use, copy,  *
*  modify, merge, publish, distribute, sublicense, and/or sell copies  *
*  of the Software, and to permit persons to whom the Software is      *
*  furnished to do so, subject to the following conditions:            *
*                                                                      *
*  The above copyright notice and this permission notice shall be      *
*  included in all copies or substantial portions of the Software.     *
*                                                                      *
*  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,     *
*  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF  *
*  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND               *
*  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS *
*  BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN  *
*  ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN   *
*  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE    *
*  SOFTWARE.                                                           *
*                                                                      *
************************************************************************/

/* ************************************************************* */
/*                       Reworked styles                         */
/* ************************************************************* */

/* Styles for creating boxes with softened, rounded, corners. A
 * more pleasing view than hard corners.
 */
.soft-box {
  border-style: solid;
  border-color: var(--color-border);
  border-width: 1px;
}
.soft-box-left {
  border-left-width: 0;
  border-top-right-radius: var(--radius-effect);
  border-bottom-right-radius: var(--radius-effect);
}
.soft-box-right {
  border-right-width: 0;
  border-top-left-radius: var(--radius-effect);
  border-bottom-left-radius: var(--radius-effect);
}

/* A UI switch is _always_ a hidden input */
.ui-switch {
  display: none;
}

/* Styling which applies to all UI triggers */
.ui-trigger {
}

/* Styling which applies to all UI trigger burger menu icons */
.ui-trigger-burger {
  display: grid;
  grid-gap: 0.1875rem;
  grid-template-rows: repeat(3,0.125rem);
  padding: 0.5rem 0.5rem 0 56px;
}
.ui-burger-line {
  background-color: var(--color-ctrlFg);
  transition: transform var(--menu-timing) linear,
              opacity calc( var(--menu-timing) / 2) linear calc( var(--menu-timing) / 2);
}

/*
 *  Make the hamburger into an X on menu open
 *  Rare, but possible, to have multiple burger menu icons so the
 *  animation must be targeted to the correct one and connected to the
 *  corrent UI switch. Here that is the `menu-site` portion of the
 *  element ID selectors.
 */
#switch-menu-site:checked ~ #scheme-container #menu-site-icon .ui-burger-line-top {
  transform: translateX(2.5px) translateY(5px) rotate(-315deg);
}
#switch-menu-site:checked ~ #scheme-container #menu-site-icon .ui-burger-line-mid {
  opacity: 0;
}
#switch-menu-site:checked ~ #scheme-container #menu-site-icon .ui-burger-line-low {
  transform: translateX(2.5px) translateY(-5px) rotate(315deg);
}

/*
 * Switch from a drop down menu to a menu bar for less narrow screens
 * Don't need to show the hamburger menu at all now. To allow for
 * multiple menus to be affected, which might have different width
 * limits, the affected menu must be targeted. Here that is the
 * `menu-site` portion of the element ID selector
 */
/*
@media screen and (min-width: 40.5rem) {
    #menu-site-icon .ui-trigger-burger {
        display: none;
    }
}
*/

/* Styling for collapable sidebar menus */
.ui-side-menu-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* Control placement on the left or right side.
 * If the two menus happen to overlap, make the right-side have a
 * higher stacking order than the left so that it is the one most
 * accessable to the user.
 */
.ui-side-menu-left-container {
  left: 0;
  z-index: 1;
}
.ui-side-menu-right-container {
  right: 0;
  z-index: 2;
}
/* Settings to show, and animate, the trigger for side menus */
.ui-side-menu-trigger {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.3125rem;
  height: 2.0625rem;
  padding: 0;
  /* The animations are part of a collision avoidance system for them */
  transition: margin-top var(--menu-timing) linear;
  transform-origin: 50% 55%;
}
/* Style for the icons in triggers */
.ui-trigger-icon {
  display: inline-block;
  font-size: 1.75rem;
  font-family: var(--icon-fontFace);
  text-align: center;
  transform: rotate(0deg);
  transition: transform var(--menu-timing) linear;
}

/*
@media screen and (min-width: 48rem) {
  #trigger-menu-jumpx {
    display: none;
  }
}
*/
/*
@media screen and (min-width: 57rem) {
  #trigger-menu-pagex {
    display: none;
  }
}
*/
/*   On very narrow pages the two handles overlap. Slide the right menu
 *   handle down to avoid a collision when both are opened.
 **/
#switch-menu-jump:checked ~ #switch-menu-page:checked ~ #scheme-container #trigger-menu-pagex {
  margin-top: 39px;
}
/*   Cancel anti-collision slide once the page is wide enough  */
/*
@media screen and (min-width: 22rem) {
  #switch-menu-jump:checked ~ #switch-menu-page:checked ~ #scheme-container #trigger-menu-pagex {
    margin-top: 5px;
  }
}
